.button {
    background-color: transparent;
    border: none;
}

.button:hover {
    cursor: pointer;
}

.button--complete {
    transition: 1s;
}

.button--complete:hover {
    color: hsl(0, 0%, 100%);
    background-color: hsl(120, 100%, 35%);
    border-radius: 15px;
}

.button--done {
    background-color: hsl(120, 100%, 25%);
    color: hsl(0, 0%, 100%);
    border-radius: 15px;
}

.button--done:hover {
    background-color: hsl(120, 100%, 35%);
}

.button--delete {
    transition: 1s;
}

.button--delete:hover {
    background-color: hsl(0, 100%, 50%);
    color: white;
    border-radius: 15px;
}

.button--delete:active {
    color: hsl(0, 0%, 0%);
}