.list {
    padding: 10px;
    list-style-type: none;
}

.list__item {
    align-items: center;
    display: flex;
    padding: 5px;
    margin-top: 10px;
    border-bottom: 1px solid hsl(0, 0%, 87%);
}

.list__item--hidden {
    display: none;
}

.list__text {
    padding: 0 10px;
    display: flex;
    flex-grow: 1;
    word-break: break-word;
}

.list__text--done {
    text-decoration: line-through;
}