.section {
    background-color: hsl(0, 0%, 100%);
    margin: 20px auto;
}

.section__header {
    border-bottom: 2px solid hsl(0, 0%, 90%);
    display: flex;
}

@media (max-width: 767px) {
    .section__header {
        flex-direction: column;
        text-align: center;
    }
}

.section__title {
    margin: 5px 0;
    padding: 15px;
    flex-grow: 1;
}

.section__buttons {
    display: flex;
    gap: 20px;
}

@media (max-width: 767px) {
    .section__buttons {
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
}

.button--selectAll {
    padding: 5px;
    color: hsl(180, 100%, 25%);
    transition: 1s;
}

.button--selectAll:hover {
    color: hsl(180, 100%, 35%);
}

.button--selectAll:active {
    color: hsl(0, 0%, 0%);
}

.button--selectAll:disabled {
    color: hsl(0, 0%, 87%);
    cursor: auto;
}

.button--hideDone {
    min-width: 127px;
    padding: 5px;
    color: hsl(180, 100%, 25%);
    transition: 1s;
}

.button--hideDone:hover {
    color: hsl(180, 100%, 35%);
}