.section {
    background-color: hsl(0, 0%, 100%);
    margin: 20px auto;
}

.section__header {
    border-bottom: 2px solid hsl(0, 0%, 90%);
    display: flex;
}

@media (max-width: 767px) {
    .section__header {
        flex-direction: column;
        text-align: center;
    }
}

.section__title {
    margin: 5px 0;
    padding: 15px;
    flex-grow: 1;
}