html {
    background-color: hsl(0, 0%, 95%);
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.contianer {
    margin: 0 auto;
    padding: 20px;
    max-width: 75%;
}

@media (max-width: 767px) {
    .contianer {
        max-width: 100%;
    }
}